<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/">MyBasketBallPoints</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive='active' routerLink="/jogos">Lançar Pontos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive='active' routerLink="/resultados">Ver Resultados</a>
          </li>
        </ul>
        
        <!-- <ul class="navbar-nav">
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle"id="button-basic" dropdownToggle type="button" >
              Carlos
            </a>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li><a class="dropdown-item"  routerLink="/perfil">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Sair</a></li>
            </ul>
          </li>
        </ul> -->
      </div>
    </div>
</nav>